app:
  appPort: 8080
  metricsPort: 8081
  debug: true
  logLevel: debug

upstreams:
    - name: Service-A
      backend:
        - connection: http
          timeout: 3s
        - connection: grpc
          timeout: 1s
    - name: Service-B
      backend:
        - connection: grpc
          timeout: 1s
