app:
  appPort: 8080
  metricsPort: 8081
  debug: true
  logLevel: debug
  gracefullyShutdownTimeout: "2s"

rules:
  - name: "servie-a-router"
    path: "/servie-a-path"
    auth: true
    upstream: "ServiceA"
    url: "upstream-a-path"
    methods: ["GET", "POST", "OPTIONS"]
  - name: "servie-b-router"
    path: "/servie-b-path"
    auth: true
    upstream: "ServiceB"
    url: "upstream-b-path"
    methods: ["GET", "POST", "OPTIONS"]

upstreams:
    - name: ServiceA
      backends:
        - name: "ServiceA-1"
          connection: http
          addr: "http://service-a1.svc.cluster.local"
          timeout: 3s
          cb:
            enabled: true
            resetInterval: "60s"
            openTimeout: "60s"
            maxRequests: 2
            minRequests: 3
            failureRatioThereshold: 0.6
        - name: "ServiceA-2"
          connection: http
          addr: "http://service-a1.svc.cluster.local"
          timeout: 1s
          cb:
            enabled: true
            resetInterval: "60s"
            openTimeout: "60s"
            maxRequests: 2
            minRequests: 3
            failureRatioThereshold: 0.6
    - name: ServiceB
      backends:
        - name: "ServiceB-1"
          connection: grpc
          addr: "http://service-a1.svc.cluster.local"
          timeout: 1s
          cb:
            enabled: true
            resetInterval: "60s"
            openTimeout: "60s"
            maxRequests: 2
            minRequests: 3
            failureRatioThereshold: 0.6
